<h1>Add a New Branch</h1>

<% unless @story_id.nil? %>
  <p>Story: <b><%= @story.title %></b></p>
    <% if @branches.count > 0 %>
      <%= render 'branchtable' %>
    <% else %>
      <p><i>There are no branches for this story yet.</i></p>
    <% end %>
<% end %>
<p><b>New Branch:</b></p>
<%= render 'branchform' %>

<%= link_to "Return to Stories Index", stories_path %>