<p> All Branches for Story:<b><%= @branch.story.title %></b></p>

<%= render 'branchtable'%>

<p><%= link_to 'Show All Stories', stories_path %></p>
<p><%= link_to 'Show all Branches for All Stories', branches_path %></p>
