/* ::::::::::::::::::::::::::::::::::::::::::::::: Writer/Developer Interface ::::::::::::::::::::::::::::::::::::::::::::::: */
@import 'variables';

#backend_navigation {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 1%
}

#storyform_and_requirementform_wrapper {
  float:left;
  border: 1px solid black;
  border-radius: 1%;
  padding: 1%;
  width: 75%;
  margin-bottom: 3%;
  min-width:1000px;
}

#branchform_wrapper {
  clear:left;
  margin-left: 5%;
  margin-bottom: 5%;
}

#level_form_wrapper {
  clear: both;
}

.levels_table{
  table-layout: fixed;
  min-width:1000px;
  #level{ width:2% }
  #description{ width:13% }
  #image_path{ width:25% }
  #flavor_text{ width:45% }
  #minimum_points{ width:5% }
  #action{ width:10% }
}

#storyform {
  float: left;
  border-right: 1px solid $lightgrey;
  padding: 0% 2% 0% 1%;
  width: 42%;
}

.requirementform {
  float: left;
  padding: 0% 1% 0% 2%;
  max-width: 46%;
}

.branch-requirementform {
  float: left;
  max-width: 46%;
  margin-bottom: 5%;
}

.effectform{
  float: left;
  max-width: 46%;
  margin-bottom: 5%;
  clear: both;
}

.branch_card{
  width: 75%; 
  border: 1px solid black;
  border-radius: 1%;
  padding: 1%;
  margin-bottom: 3%;
  overflow: hidden;
}

.branch_card_left_column{
  float: left;
  padding: 0% 3% 0% 1%;
  width:35%;
  border-right: 1px solid $lightgrey;
}

.branch_card_right_column{
  float: left;
  max-width: 55%;
  padding: 0% 1% 0% 3%;
}

.hook{
  height: 50px;
}

#update_branch{
  clear: left;
  padding:1%;
  max-width: 10%
}

#submit_button{
  clear: left;
  padding:1%;
  max-width: 10%
}

.notice{
  color: red;
}