<h1>Add a New Requirement</h1>

<% unless @story_id.nil? %>
  <p>Existing Requirements for Story: <b><%= @story.title %></b></p>
    <% if @requirements.count > 0 %>
      <%= render 'requirementtable' %>
    <% else %>
      <p><i>There are no requirements for this story yet.</i></p>
    <% end %>
<% end %>
<br>
<p><b>New Requirement:</b></p>
<%= render 'requirementform' %>

<%= link_to "Return to Stories Index", stories_path %>