<p> All Requirements for Story:<b><%= @requirement.story.title %></b></p>

<%= render 'requirementtable'%>

<p><%= link_to 'Show All Stories', stories_path %></p>
<p><%= link_to 'Show all Requirements for All Stories', requirements_path %></p>
