<p> You have successfully created the quality: <%= @quality.name %></p>

<%= render 'qualitytable'%>

<p><%= link_to 'Show All Qualities', qualities_path %></p>
<p><%= link_to 'Go to Stories', stories_path %></p>