<h1>Add a New Effect</h1>

<% unless @story_id.nil? %>
  <p>Existing Effects for: <b><%= @story.title %></b></p>
    <% if @effects.size > 0 %>
    <% else %>
      <p><i>There are no effects for this branch yet.</i></p>
    <% end %>
<% end %>
<%= render 'effectform' %>

<p><%= link_to "Return to Branches Index", branches_path %></p>
<p><%= link_to "Return to Stories Index", stories_path %></p>