<p> All Effectes for Branch:<b><%= @effect.branch.title %></b></p>

<%= render 'effecttable' %>

<p><%= link_to 'Show All Branchs', branches_path %></p>
<p><%= link_to 'Show all Effectes for All Branchs', effects_path %></p>
