<p> All Effects for Outcome:<b><%= @effect.outcome.title %></b></p>

<%= render 'effecttable'%>

<p><%= link_to 'Show All Outcomes', outcomes_path %></p>
<p><%= link_to 'Show all Effects for All Outcomes', effects_path %></p>
