<p> All Effects for Branch: <b><%= @effect.branch.title %></b></p>

<%= render 'effecttable' %>

<p><%= link_to 'Show All Branches', branches_path %></p>
<p><%= link_to 'Show all Effectes for All Branches', effects_path %></p>
