<tr class="nested-fields">
  <td>    
    <%= f.select(:quality_id, Quality.all.collect {|q| [ q.name, q.id ] }, { include_blank: true }) %>
  </td> 
  <td>
    <%= f.select(:operation, [['plus','plus'], ['minus','minus'],['equals','equals']], { include_blank: true }) %>
  </td>
  <td>
    <%= f.text_field :amount %>
  </td>
  <td>
    <%= link_to_remove_association "Delete", f %>
  </td>
</tr>