<div class="requirementform">
  <h3>Requirements</h3>
  <table id="requirements-table">
    <tr>
      <th>Quality Required</th>
      <th>Operation</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
    <%= f.fields_for :requirements do |requirement| %>
    <%= render 'requirement_fields', :f => requirement %>
    <% end %>
  </table>
    <%= link_to_add_association 'Add Requirement', f, :requirements, 'data-association-insertion-node' => "#requirements-table",'data-association-insertion-method' => "append" %>
</div>