.requirementform
  %h3 Requirements
  %table#requirements-table
    %tr
      %th Quality Required
      %th Operation
      %th Points
      %th Actions
    = f.fields_for :requirements do |requirement|
      = render 'requirement_fields', :f => requirement
  = link_to_add_association 'Add Requirement', f, :requirements, 'data-association-insertion-node' => "#requirements-table",'data-association-insertion-method' => "append"
