<div id="requirementform">
  <h3>Story Requirements</h3>
  <table id="requirements-table">
    <tr>
      <th>Quality Required</th>
      <th>Operation</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    <%= story.fields_for :requirements do |requirement| %>
    <%= render 'requirement_fields', :f => requirement %>
    <% end %>
  </table>
    <%= link_to_add_association 'Add Requirement', story, :requirements, 'data-association-insertion-node' => "#requirements-table",'data-association-insertion-method' => "append" %>
</div>