<p>&#8592; <%= link_to "Show Stories Index", stories_path %></p>

<h1>Edit Story</h1>
  <%= render 'storyform' %>

<p><%= link_to "Back to Top", "#" %> </p>
<p><%= link_to "Back to Stories Index", stories_path %></p>