<div id="intro4">
  <p>The windows are grimy, but if you squint, you can make out your silhouette.</p>
  <p>You look like: <i>(Select one)</i></p>
  <% @character.errors[:avatar_image_path].each do | msg |  %>
    <p class="error_message"><%= msg %></p>
  <% end %>
  <% (1..12).each do |image| %>
    <%= image_tag "avatar#{image}.png", :class => "avatar_icon_medium_selectable", :id => "avatar#{image}" %>
    <% end %>
  <%= f.hidden_field :avatar_image_path, :value => ""%>
</div>
