<u>Your Stats:</u>
<% if @character.stats.count > 0 %>
  <ul>
  <% @character.stats.each do |stat| %>
    <li><%= stat.get_description %>.</li>
  <% end %>
  </ul>
<% else %>
  <p>YOU HAVE NOTHING.</p>
<% end %>