<% if @character.stats.count > 0 %>
  <% @character.stats.each do |stat| %>
    <div class="character_stat">
      <%= image_tag(stat.quality.image_path, class:"small_icon") unless stat.quality.image_path.blank? %>
      <div class="character_stat_description">
        <%= stat.get_description %>.
      </div>
    </div>
  <% end %>
<% else %>
  <p>YOU HAVE NOTHING.</p>
<% end %>