<h2>Your Stats:</h2>
<% @stats %>
<% if @stats.count > 0 %>
  <ul>
  <% @character.stats.each do |stat| %>
    <li>Your <%= stat.quality.name %> is <%= stat.value %></li>
  <% end %>
  </ul>
<% else %>
  <p>YOU HAVE NOTHING.</p>
<% end %>