#intro5
  %p
    The train slowly grinds to a halt, making the lamps flicker as they dance to a standstill.
  %p
    The light from an exit far down the platform partially illuminates the tunnel, throwing long shadows against the ceiling arches.
