<div id="intro1">
  <p> Unusual noises drift into your ears, mechanical rattling and whistling that grows louder and more immediate. There is a searing pain in the back of your head. You open your eyes. 
  </p>
  <p>There are six neat rows of leather seats, dark wood fixtures and brassy rails. You are seated, and a cold glass window shudders violently against your cheek. You are in an old train carriage that is empty except for you. 
  </p>
  <p>Outside the windows there is only darkness. 
  </p>
</div>