#intro1
  %p
    A loud, immediate mechanical rattling and whistling fills your ears. There is a searing pain in the back of your head. You open your eyes.
  %p
    There are six neat rows of leather seats, dark wood fixtures and brassy rails. You are in an old train carriage that is empty except for you.
  %p
    Outside the windows there is only darkness.
