<div id="intro2">
  <p>The ache in your head begins to recede, but your memories are as shadowy as the world outside this train carriage.</p>
  <p><b>Your name is:</b></p>
    <%= f.text_field :name %>
    <div class="error_messages">
      <% @character.errors[:name].each do | msg |  %>
        <p class="error_message"><%= msg %></p>
      <% end %>
    </div>
  <br>
</div>
