<div id="intro_wrapper">
	<p> Everything lurches forwards, and cacophany of jingling and clanking fills the darkness. You are sitting upright; every muscle in your body is sore. The seat underneath you is as rigid as plank and your cheek is pressed up against a window that shudders until your jaw is numb. You feel drool sliding down your chin. 
  </p>
  <p>You open your eyes but everything is a golden haze. You can slowly make out brassy poles and lanterns up above you, swinging from decorative iron hooks. Below are rows of dark leather seats, glossy wood fixtures and in the far corner a rattling door - this appears to be a train carriage. The train wheezes like an old man with every lunge forwards. 
  </p>
  <p>Outside there is nothing but darkness. 
  </p>
</div>