<h1>The Last Station</h1>

  <p>They call you:</p>
  <%= form_for :character, url: characters_path do |name| %>
    <%= render 'characterformerrors' %>
    <p>    <%= name.text_field :name %>
    </p>
    <p>
      <%= name.submit "BEGIN!", :id => "character_submit_button" %>
    </p>
  <% end %>