  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';

/* :::::::::::::::::::::::::::::::::::::::::::::::: Basic Styles and Page Elements :::::::::::::::::::::::::::::::::::::::::::::::: */
body,html {
  margin: 0;
  padding: 0;
  height: 100%;
}

div{
  display: block;
}

.text{
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-style: normal;
  font-variant: normal;
}

h1 {
  @extend .text;
  font-size: 30px;
  font-weight: 600;
  line-height: 26px;
}

h2 {
  @extend .text;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
}

h3 {
  @extend .text;
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
}

p {
  @extend .text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  align: justify;
  padding: 10px;
}

b{
  font-weight: bold;
}

i{
  font-style: italic;
}

img{
  margin:0;
  padding:0;
   /*background-color: inherit;  THIS IS COMMENTED OUT DUE TO WEIRD BACKGROUND IN SIDEBAR AVATARS - find workaround if it messes up something else */ 
  border: none;
}

#wrapper{
  min-height: 100%;
  position: relative;
}

#right_hand_wrapper{
  display:block;
  float: right;
  width:55%;
  padding-top:5%;
}
/* :::::::::::::::::::::::: Forms :::::::::::::::::::::::: */

form {
  display: block;
}

label {
  /*display: block;*/
}

input[type="submit"]{
  @extend .text;
  font-size: 16px;
  display: inline-block;
  margin: auto;
  border: solid 1px black;
  background-color: black;
  margin-top: 5px;
  color: white;
}

input[type="submit"]:hover{
  background-color: white;
  color: black;
}

input[type='text']{
  width:92%;
}

select {
  width: 180px;
}

textarea {
  height: 150px;
  width: 98%;
}

.error_message {
  margin: 2% auto;
  color: red;
  width:96%;
}

.field_with_errors {
  display: inline;
  input {
    border: 1px solid red;
  }
}

/* :::::::::::::::::::::::: Tables :::::::::::::::::::::::: */

table { 
  border-collapse: collapse; 
  border: 1px solid;
  max-width: 100%;
  margin-top: 2%;
}

table td{
  border: 1px solid black;
  padding: 5px;
  vertical-align: bottom;
}

table th{
  border: 1px solid black;
  padding: 5px;
}

text_field {
  width: 50px;
}

text_area {
  height: 100px;
  width: 200px;
}

