  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';

/* :::::::::::::::::::::::::::::::::::::::::::::::: Basic Styles :::::::::::::::::::::::::::::::::::::::::::::::: */
.text{
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-style: normal;
  font-variant: normal;
}

h1 {
  @extend .text;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.3999996185303px;
}
h3 {
  @extend .text;
  font-size: 20px;
  font-weight: 500;
  line-height: 15.3999996185303px;
}
p {
  @extend .text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  align: justify;
  margin: 10px;
}

img {
  margin:0;
  padding:0;
  background-color: inherit; 
  border: none;
}

/* :::::::::::::::::::::::: Forms :::::::::::::::::::::::: */

form {
  display: block;
}

label {
  /*display: block;*/
}

input[type="submit"]{
  @extend .text;
  font-size: 16px;
  display: inline-block;
  margin: auto;
  border: solid 1px black;
  background-color: white;
  margin-top: 5px;
}

input[type="submit"]:hover{
  background-color: black;
  color: white;
}

input[type='text']{
  width:92%;
}

select {
  width: 180px;
}

textarea {
  height: 150px;
  width: 98%;
  min-width: 330px;
}

.error_message {
  margin: 2% auto;
  color: red;
  width:96%;
}

.field_with_errors {
  display: inline;
  input {
    border: 1px solid red;
  }
}

/* :::::::::::::::::::::::: Tables :::::::::::::::::::::::: */

table { 
  border-collapse: collapse; 
  border: 1px solid;
  max-width: 100%;
}

table td{
  border: 1px solid black;
  padding: 5px;
  vertical-align: bottom;
}

table th{
  border: 1px solid black;
  padding: 5px;
}

text_field {
  width: 50px;
}

text_area {
  height: 100px;
  width: 200px;
}

