// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#character_name{
  max-width: 300px;
}

#character_submit_button{
  max-width: 100px;
}

