@import 'variables';

/* ::::::::::::::::::::::::::::::::::::::::::::::: Player User Interface ::::::::::::::::::::::::::::::::::::::::::::::: */

#footer{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  background: white;
  background:rgba(255,255,255,0.1);
  border-top: 1px solid $darkgrey;
}

#footer_center_div{
  margin: 0 auto;  
  width:80%;
  height: 8px;
  p{
    text-align: center;
    margin: 0.5%;
    color: $darkgrey;
  }
}

/* :::::::::::::::::::::::::::::::::::::::  Intro ::::::::::::::::::::::::::::::::::::::: */

#intro_header{
  min-height: 38px;
  border-bottom: 1px solid $darkgrey;
  padding-top:1%;
  background-color: #fdf3d5;
  background-image: url('backgrounds/star_background.png');
  border-bottom: solid grey 2px;
  h1{
    text-align: center;
    font-size:2.5em;
    /*font-weight: 500;*/
    color: #949494;
    -webkit-text-stroke: 0.4px $lightgrey;
  }

}

#intro_body {
  padding-top: 4%;
  padding-bottom: 30px;
  background-image: url('backgrounds/train_lights_background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  min-height:518px;
  border-top: 2px solid #353535;
}

/* :::::::::::::::::::::::: Flashcards - used in the Intro :::::::::::::::::::::::: */
#intro_title{
  color: $lightgrey;
}

#flashcard {
  margin: auto;
  top: 20%;
  width: 45%;
  input[type="text"]{
    margin: auto;
    display: block;
  }
}

#flashcard_body {
  margin: 0 auto;
  width: 93%;
  padding: 3%;
  border: 1px solid black;
  box-shadow: 6px 8px 3px rgba(0, 0, 0, 0.5);
  background: white;
  background:rgba(255,255,255,0.7);
}

.divider {
  max-width: 100%;
  margin:0;
  padding:0;
  display: block;
}

.bottom_divider {
  /* this code flips the divider image upside down */
  @extend .divider;
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv;;
}

#flashcard_buttons{
  text-align: center;
}

#intro_radio_buttons{
  margin-left: 2%;  
}

/* :::::::::::::::::::::::: Avatars :::::::::::::::::::::::: */
.avatar_icon_small{
  max-width: 10%;
}

.avatar_icon_medium{
  max-width: 32%;
}

.avatar_icon_medium_selectable{
  @extend .avatar_icon_medium;
}

.avatar_icon_large{
  max-width: 45%;
}

#sidebar_avatar{
  display:block;
  float: left;
}
/* :::::::::::::::::::::::: Main Game :::::::::::::::::::::::: */

#player_interface_wrapper{
  @extend .wrapper;
  background-color: #0a0b09;
  background-image: url('backgrounds/star_background.png');
}

#main_game_wrapper{
  width: 78%;
  height:100%;
  margin:  auto;
  overflow: hidden;
  padding-bottom: 30px;
  background-image: url('backgrounds/page_background.png');
  border-left: solid 5px;
  border-right: solid 5px;
  -webkit-border-image: url(copper_tube.png) 10 stretch; /* Safari 3.1-5 */
  -o-border-image: url(copper_tube.png) 10 stretch; /* Opera 11-12.1 */
  border-image: url(copper_tube.png) 30 stretch;  
}

#main_header{
  position: relative;
  border: 1px solid black;
  height: 0;
  padding-bottom: 34.8%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  width: 100%;
  height: 100%;
}

#main_content_and_sidebar_wrapper{  
  width: 100%;
  overflow: auto;
  margin-bottom: 2%
}

#main_sidebar{
  display:inline-block;
  width:23.5%;
  float:left;
  overflow: hidden;
  margin-left:0.6%;
}

#sidebar_content{
  border: solid 1px black;
  float:left;
  background-color: white;
  background:rgba(255,255,255,0.4);
}

#main_content{
  border: 1px solid black;
  display:inline-block;
  width: 75%;
  float:right;
  overflow: hidden;
}

#main_content_top{
  min-height: 28px;
  background-image: url('backgrounds/content_frame_top.png');
  background-size:100%;
}

#main_content_middle{
  background-image: url('backgrounds/content_frame_middle.png');  
  background-size:100%;
  padding: 2% 0 0 4%;
}

#main_content_bottom{
  min-height: 28px;
  background-image: url('backgrounds/content_frame_bottom.png');  
  background-size:100%; 
}