@import 'variables';

/* ::::::::::::::::::::::::::::::::::::::::::::::: Player User Interface ::::::::::::::::::::::::::::::::::::::::::::::: */

#footer{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
}

#footer_center_div{
  margin: 0 auto;  
  width:80%;
  height: 8px;
  border-top: 1px solid $darkgrey;
  p{
    text-align: center;
    margin: 0.5%;
    color: $darkgrey;
  }
}

/* :::::::::::::::::::::::::::::::::::::::  Intro ::::::::::::::::::::::::::::::::::::::: */

#intro_header{
  min-height: 34px;
  border-bottom: 1px solid $darkgrey;
  padding-top:1%;
  h1{
    text-align: center;
    font-size:2.5em;
    color: black;
    text-shadow: 1px 2px $lightgrey;
  }
}

#intro_body {
  padding-top: 4%;
  padding-bottom: 30px;
}

/* :::::::::::::::::::::::: Flashcards - used in the Intro :::::::::::::::::::::::: */
#intro_title{
  color: $lightgrey;
}

#flashcard {
  margin: auto;
  top: 20%;
  width: 45%;
  input[type="text"]{
    margin: auto;
    display: block;
  }
}

#flashcard_body {
  margin: 0 auto;
  width: 93%;
  padding: 3%;
  border: 1px solid black;
  box-shadow: 6px 8px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.divider {
  max-width: 100%;
  margin:0;
  padding:0;
  display: block;
}

.bottom_divider {
  /* this code flips the divider image upside down */
  @extend .divider;
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv;;
}

#flashcard_buttons{
  text-align: center;
}

#intro_radio_buttons{
  margin-left: 2%;  
}

/* :::::::::::::::::::::::: Avatars :::::::::::::::::::::::: */
.avatar_icon_small{
  max-width: 10%;
}

.avatar_icon_medium{
  max-width: 32%;
}

.avatar_icon_medium_selectable{
  @extend .avatar_icon_medium;
}

/* :::::::::::::::::::::::: Main Game :::::::::::::::::::::::: */

#main_game_wrapper{
  width: 80%;
  height:100%;
  margin:  auto;
  overflow: auto;
  padding-bottom: 30px;
}

#main_header{
  position: relative;
  border: 1px solid black;
  margin-bottom: 2%;
  height: 0;
  padding-bottom: 35.9%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;

}

#main_content_and_sidebar_wrapper{  
  width: 100%;
  overflow: auto;
  margin-bottom: 2%
}

#main_sidebar{
  display:inline-block;
  width:20%;
  float:left;
  border: 1px solid black;
  overflow: hidden;
}

#main_content{
  border: 1px solid black;
  display:inline-block;
  width: 78%;
  float:right;
  overflow: hidden;
}