// Place all the styles related to the Qualities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quality_name{
  max-width:300px;
}

#quality_description{
  max-width:800px;
}

#quality_image_path{
  max-width:800px;
}

#quality_submit_button{
  max-width:100px;
}

#quality_form_wrapper{
  float:left;
  border: 1px solid #000000;
  border-radius: 1%;
  padding: 1%;
  width: 70%;
  margin-bottom: 3%;
}

#level_form_wrapper{
  margin-left:5%;
  padding:2%;
}

#level_form_wrapper{
  margin-left:5%;
  padding:2%;

  td{
    width:10px;
  }
}

#quality_levels_attributes_0_amount{
  float:right;
  width:90%;
}

#quality_levels_attributes_0_image_path{
  width: 250px;
}

#quality_levels_attributes_0_description{
  width: 400px;
}