// Place all the styles related to the Qualities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quality_name{
  max-width:300px;
}

#quality_description{
  max-width:800px;
}

#quality_image_path{
  max-width:800px;
}

#quality_submit_button{
  max-width:100px;
}