/* :::::::::::::::::::::::::::::::::::::::::::::::: Variables & Reference Guide  :::::::::::::::::::::::::::::::::::::::::::::::: */

$lightgrey: #D8D8D8;
$darkgrey: #555555;
$backgroundblue: #00124A;
