/* ::::::::::::::::::::::::::::::::::::::::::::::: Writer/Developer Interface ::::::::::::::::::::::::::::::::::::::::::::::: */
@import 'variables';

#backend_navigation {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 1%
}

#storyform_and_requirementform_wrapper {
  float:left;
  border: 1px solid black;
  border-radius: 1%;
  padding: 1%;
  width: 70%;
  margin-bottom: 3%;
}

#branchform_wrapper {
  clear:left;
  margin-left: 5%;
  margin-bottom: 5%;
}

#storyform {
  float: left;
  border-right: 1px solid $lightgrey;
  padding: 0% 3% 0% 1%;
  max-width: 46%;
}

#requirementform {
  float: left;
  padding: 0% 1% 0% 3%;
  max-width: 46%;
}

.branch_card{
  width: 75%; 
  border: 1px solid black;
  border-radius: 1%;
  padding: 1%;
  margin-bottom: 3%;
  overflow: hidden;
}

.branch_card_left_column{
  float: left;
  padding: 0% 3% 0% 1%;
  max-width:35%;
  border-right: 1px solid $lightgrey;
}

.branch_card_right_column{
  float: left;
  max-width: 55%;
  padding: 0% 1% 0% 3%;
}

#branch_description{
  height:80px;
}

#update_branch{
  clear: left;
  padding:1%;
  max-width: 10%
}

#submit_button{
  clear: left;
  padding:1%;
  max-width: 10%
}