#backend_navigation
  = link_to 'Stories Index', stories_path
  |
  \#{link_to 'Add a Story', new_story_path} ||
  \#{link_to 'Qualities Index', qualities_path} |
  \#{link_to 'Add a Quality', new_quality_path}
