<div id="flashcard">
  <%= image_pack_tag("divider.png", :class => "divider") %>
  <div id="flashcard_body">
    <%= yield %>
  </div>
  <%= image_pack_tag("divider.png", :class => "bottom_divider") %>
</div>
